<div class="core-hr-footer">
  <div class="core-hr-address">
    <div class="core-hr-address-title">We are located at:</div>
    <div class="core-hr-address-details">
      <div class="core-hr-address-details--name">CoreHR Solutions Inc.</div>
      <div class="core-hr-address-details--address">240 Richmond Street West, Suite 600.</div>
      <div class="core-hr-address-details-city">Toronto Ontario, M5V1V6.</div>
    </div>
  </div>
  <div class="core-hr-join">
    <div class="core-hr-join-title">Join our team:</div> 
    <div class="core-hr-join-details">
      <div class="core-hr-join-details--phone">Tel: 1-416-445-7855</div>
      <div class="core-hr-join-details--email">Email: <span class="core-hr-join-details--email-value">info@corehr.ca</span></div>
    </div>
  </div>
</div>
