<div class="core-hr-methodology">
  <div class="core-hr-methodology-title">what makes us different</div>
  <div class="core-hr-approaches">
    <div class="core-hr-approach">
      <div class="core-hr-approach-image">
          <img class="core-hr-approach-image--fit" src="/assets/images/marien-beetles-1324398.jpg" alt="relationship">
      </div>
      <div class="core-hr-approach-method">
          <div class="core-hr-approach-method-title">Relationship based approach</div>
          <div class="core-hr-approach-method-title--highlight"></div>
          <div class="core-hr-approach-method-description">We take a relationship based approach to sourcing and matching candidates against client needs. Our focus is on building relationships with candidates through high quality interactions that result in high quality hires. </div>
      </div>
    </div>
    <div class="core-hr-approach">
        <div class="core-hr-approach-method">
            <div class="core-hr-approach-method-title">Suiting your unique needs</div>
            <div class="core-hr-approach-method-title--highlight"></div>
            <div class="core-hr-approach-method-description">We also have the capability to cultivate talent to suit the unique needs of your organization based on your talent strategy. Whether we find you talent or grow it for you, we’re about providing the best candidates and not just the most candidates.</div>
            <div class="core-hr-approach-method-info">
              <button [routerLink] = "'/contact-us'" class="core-hr-approach-method-info-button">Get in touch</button>
            </div>
        </div>
        <div class="core-hr-approach-image">
          <img class="core-hr-approach-image--fit" src="/assets/images/bee-3590208.jpg" alt="Unique needs">
        </div>
    </div>
</div>