<div class="core-hr-header">
  <div class="core-hr-header__container">
    <div [routerLink] = "'/home'" class="core-hr-header__container-logo">
      <img alt="Core HR" src="/assets/images/corehr_logo.svg" class="core-hr-header__container-logo-icon" />
    </div>
    <div class="core-hr-header__container-info">
      <div [routerLink] = "'/home'" class="core-hr-header__container-info-text">What we do</div>
      <button [routerLink] = "'/contact-us'" class="core-hr-header__container-info-button">Get in touch</button>
    </div>
  </div>
</div>
