/* You can add global styles to this file, and also import other style files */
// Import Fonts
@font-face {
    font-family: 'OpenSans-Regular';
    src:url('/assets/font_open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src:url('/assets/font_open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:url('/assets/font_open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src:url('/assets/font_open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src:url('/assets/font_open-sans/OpenSans-SemiBold.ttf');
}

app-home{
    background-color: grey;
}

html {
    font-family: OpenSans-Regular;
    font-weight: normal;
}

.core-hr {
    width: 100%;
    margin: 0 auto;
    &-gradient {
        background-image: linear-gradient(90deg, #FB930A 0%, #FF3F02 100%);
        height: 10px;
    }
    &-home {
        background-image: url('/assets/images/patrick-hendry-765433-unsplash_sized.jpg');
        width:100%;
        height: 25rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .core-hr-header {
            border: none;
        }
        .core-hr-header__container-info-text {
            color: #FAA80D;
            cursor: pointer;
        }
        &-title {
            font-size: 50px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 60px;
            text-shadow: 0 2px 4px rgba(0,0,0,0.50);
            font-family: OpenSans-SemiBold;
        }
        &-content {
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            &-text {
                &-small{
                    font-size: 1rem !important;
                }
                padding: 5rem 15rem 2rem 15rem;
                text-align: center;
                font-size: 30px;
                color: #333333;
                letter-spacing: 0;
                line-height: 60px;
                background-color: #F5F5F5;
                &--highlight {
                    color: orange;
                }
            }
            &-border {
                border-radius: 0 0 50% 50%;
                border: 1.5rem solid #F5F5F5;
            }
        }
    }
    &-header {
        width: 100%;
        border-bottom: 1px solid #1A1A1A;
        &__container {
            flex-direction: row;
            display: flex;
            align-items: center;
            &-logo {
                float: left;
                width: 70%;
                display: flex;
                &-icon {
                    margin: 1rem;
                    width: 5rem;
                    height: 1.5rem;
                }
                cursor: pointer;
            }
            &-info {
                display: flex;
                flex-direction: row;
                &-text {
                    color: #ffffff;
                    padding: 0.5rem 1.5rem;
                    margin: 0 3rem 0 5rem;
                    font-size: 1rem;
                    cursor: pointer;
                }
                &-button {
                    border: 1px solid #ffffff;
                    border-radius: 1.25rem;
                    width: auto;
                    padding: 0.5rem 1.5rem;
                    background: #333333;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
    }
    &-footer {
        display: flex;
        height: auto;
        background: #333333;
        padding: 1rem 0;
        margin: 0 auto;
    }
    &-address {
        display: flex;
        align-items: flex-start;
        text-align: left;
        &-title {
            display: inline-flex;
            margin: 0 1rem 0 10rem;
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
        &-details {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #9B9B9B;
            letter-spacing: 0;
        }
    }
    &-join {
        display: flex;
        align-items: flex-start;
        text-align: left;
        &-title {
            display: inline-flex;
            margin: 0 1rem 0 15rem;
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
        &-details {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #9B9B9B;
            letter-spacing: 0;
            &--email-value {
                color: orange;
            }
        }
    }
    &-methodology {
        padding-top: 2rem;
        padding-bottom:2rem;
        &-title {
            width: 100%;
            text-align: center;
            color: red;
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 4rem;
            font-family: OpenSans-Bold;
        }
    }
    &-approach {
        display: flex;
        flex-direction: row;
        height: 17.5rem;
        margin-bottom: 2.5rem;
        &-image--fit {
            width: 25rem;
            height: 17.5rem;
            margin-bottom: 4rem;
        }
        &-method {
            margin: 4rem;
            &-title {
                font-family: OpenSans-Regular;
                font-size: 28px;
                color: #333333;
                letter-spacing: 0;
                line-height: 37px;
                &--highlight {
                    border: 4px solid #FAA80D;
                    margin-top: 1rem;
                    width: 5rem;
                }
            }
            &-description {
                margin-top: 2.5rem;
                font-size: 18px;
                color: #333333;
                letter-spacing: 0;
                line-height: 40px;
                font-family: OpenSans-light;
            }
            &-info {
                margin-top: 2rem;
                &-button {
                    border: 1px solid #ffffff;
                    border-radius: 1.25rem;
                    width: auto;
                    padding: 0.75rem 2rem;
                    background: orange;
                    font-size: 20px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 1.25rem;
                    cursor: pointer;
                }
            }
        }
        &es {
            margin: 4rem 0;
        }
    }
    &-processes {
        margin-top: 2rem;
        padding-bottom: 4rem;
        &-title {
            width: 100%;
            text-align: center;
            color: red;
            font-size: 1rem;
            margin-bottom: 4rem;
            font-family: OpenSans-Bold;
        }
        &-list {
            padding: 0 4rem;
        }
        &-offered {
            margin: 0 5rem 4rem 5rem;
            display: flex;
            flex-direction: row;
            &-image {
                font-family: OpenSans-Bold;
                font-size: 110px;
                color: #F5F5F5;
                letter-spacing: 0;
                line-height: 100px;
                padding-top: 3.5rem;
            }
        }
        &-method {
            margin: 0 2.5rem;
            &-title {
                font-family: OpenSans-Regular;
                font-size: 28px;
                color: #333333;
                letter-spacing: 0;
                line-height: 37px;
                &--highlight {
                    border: 3px solid #FD6A05;
                    margin-top: 0.5rem;
                    width: 4rem;
                }
            }
            &-description {
                margin-top: 1rem;
                font-size: 18px;
                color: #333333;
                letter-spacing: 0;
                line-height: 30px;
                font-family: OpenSans-Light;
            }
            &-info {
                margin: 2rem 11rem;
                &-button {
                    border: 1px solid #ffffff;
                    border-radius: 1.25rem;
                    width: auto;
                    padding: 0.75rem 2rem;
                    background: darkorange;
                    font-size: 20px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
    &-services {
        &-title {
            width: 100%;
            text-align: center;
            color: red;
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 4rem;
        }
        &-list {
            padding: 4rem 8rem;
            background-image: linear-gradient(90deg, #FB930A 0%, #FF3F02 100%);
        }
        &-offered {
            margin: 2.5rem 0;
            display: flex;
            flex-direction: row;
            &-image--fit {
                width: 5rem;
                height: 5rem;
                margin-top: 2.5rem;
            }
        }
        &-method {
            margin: 0 2.5rem;
            &-title {
                font-family: OpenSans-Regular;
                font-size: 28px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 37px;
                font-weight: bold;
            }
            &-description {
                margin-top: 1rem;
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 30px;
                font-family: OpenSans-Regular;
            }
        }
    }
    &-contact-us {
        margin: 4rem 8rem;
        width: 46rem;
        &-home {
            background-image: url('/assets/images/nazar-fedunkiv-243696-unsplash_sized.jpg');
            width:100%;
            height: 25rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            .core-hr-header__container-info-button {
                color: #FAA80D;
                border: 1px solid #FAA80D;
                cursor: pointer;
            }
        }
        &-title {
            font-family: OpenSans-Regular;
            font-size: 28px;
            color: #000000;
            letter-spacing: 0;
            line-height: 37px;
            &--highlight {
                border: 4px solid #FF4000;
                margin: 0.5rem 0;
                width: 5rem;
            }
        }
        &-description {
            font-family: OpenSans-Regular;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0;
            line-height: 40px;
        }
        &-button {
            background-color: orangered;
            border-radius: 1.25rem;
            width: auto;
            padding: 1rem 2.5rem;
            font-family: OpenSans-Regular;
            font-size: 1rem;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 15px;
            margin-top: 3rem;
            cursor: pointer;
        }
    }
    &-form-field {
        background-color: #F5F5F5;
        border-radius: 5px;
        width: 20rem;
        padding: 1rem;
        border: 1px solid #F5F5F5;
        margin-top: 2rem;
        &--full {
            width: 45rem;
        }
        &--mandatory {
            color: #d00;
            content: "*";
            position: absolute;
            top:7px;
        }
    }
    &-contact-form__container {
        margin: 2rem 0;
        &-division {
            display: flex;
        }
        &-group {
            &:first-child {
                margin-right: 1.5rem;
            }
            &:last-child {
                margin-left: 1.5rem;
            }
        }
    }
}
.input-group {
    position: relative;
}
.input-group-name::after{
    content: '*';
    position: absolute;
    top: 1px;
    left: 80px;
    color: #f00;
}
.input-group-company::after{
    content: '*';
    position: absolute;
    top: 1px;
    left: 70px;
    color: #f00;
}
.input-group-phone::after{
    content: '*';
    position: absolute;
    top: 1px;
    left: 105px;
    color: #f00;
}
.input-group-email::after{
    content: '*';
    position: absolute;
    top: 1px;
    left: 80px;
    color: #f00;
}
.input-group-title::after{
    content: '*';
    position: absolute;
    top: 1px;
    left: 70px;
    color: #f00;
}

.core-hr-home-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.core-hr-title-container{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header-text-container{
    font-size: 3rem;
    padding-top: 100px;
}

.warning-container{
    display: none;
}

@media only screen and (max-width: 1023px) {
    .overall-app-container{
        opacity: 0.025;
    }

    .warning-container{
        display: flex !important;
        justify-content:center;
        opacity: 1 !important;

    }
  }
