<div class="core-hr">
    <div class="core-hr-home">
        <app-core-hr-header></app-core-hr-header>
        <div class="core-hr-title-container">
        <div class="core-hr-home-title"><span class="header-text-container">Delivering success through experience</span></div>
    </div>
    </div>
    <div class="core-hr-gradient"></div>
    <div class="core-hr-home-content">
        <div class="core-hr-home-content-text">
            We help you tell stories about your opportunities that 
            <span class="core-hr-home-content-text--highlight">entice the right candidates </span>
            and connect you with them, whether they are actively looking and easily accessible or are not looking and hard to reach. 
        </div>
        <div class="core-hr-home-content-border"></div>
    </div>
    <app-core-hr-approach></app-core-hr-approach>
    <app-core-hr-services></app-core-hr-services>
    <app-core-hr-process></app-core-hr-process>
    <app-core-hr-footer></app-core-hr-footer>
</div>